<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<system.serviceModel>
		<client>
			<endpoint name="SessionHandlingService"
					 address="net.tcp://localhost:4005/SessionHandlingService"
					 binding="netTcpBinding"
					 contract="Contracts.Services.IPpgService" />
		</client>
	</system.serviceModel>
	
</configuration>