<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="HrMinBpm" value="30" />
		<add key="HrMaxBpm" value="220" />
		<add key="AccMotionThreshold" value="2.5" />
		<add key="IbiOutOfRangePct" value="0.20" />
		<add key="PpgMinSignalThreshold" value="1000" />
	</appSettings>

	<system.serviceModel>
		<services>

			<service name="Server.SessionHandlingService">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4005" />
					</baseAddresses>
				</host>

				<endpoint
					      address="SessionHandlingService"
						  binding="netTcpBinding"
						  contract="Contracts.Services.IPpgService" />


			</service>

		</services>
	</system.serviceModel>
	
</configuration>